$brandi-green: #0feb9e;
$brandi-blue: #32b0ee;
$white: #fff;
$dark-blue: #062033;
$header-color: #0eb493;

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 7rem;
	background-color: rgba(16,22,55,0.2);
	z-index: 12345567;
	position: absolute;
	.logo-container{
		display: flex;
		align-items: flex-end;
		margin-left: 10%;
	}
	.logo {
		width: 9rem;
		height: 2.7rem;
	}
	.header-tag {
		margin: 0;
		padding-left: 1rem;
		margin-left: 1rem;
		opacity: 0.3;
		width: 13.2rem;
		height: 1.7rem;
		font-weight: 300;
		color: $white;
		font-size: 1.3rem;
		border-left: 2px solid $brandi-blue;
		display: inline-block;
	}
	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		float: right;
		opacity: 1;
		margin-right: 10%;
		padding-top: 1rem;
		height: 100%;
		li {
			font-size: 1.3rem;
			display: inline-block;
			margin-right: 0.7rem;
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $brandi-blue;
				opacity: 0;
				top: 0;
				transition: all 1s;
			}
			&:hover{
				text-decoration: none;
				color: $white;
				&:after{
					opacity: 1;
				}
			}
		}
		a {
			color: $white;
			text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: none;
      }
		}
	}

}
.bgg-header {
	background-image: url("../img/bgg-header.png");
	width: 100%;
//	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	text-align:center;
	.meet-brandi {
		padding-top: 25rem;
		font-size: 6.2rem;
		font-weight: 300;
		color: $white;
		margin:0;
		.brandi {
			font-weight: 700;
		}
	}
	.one-page {
		padding: 0;
		margin:0;
		font-size: 4.8rem;
		font-weight: 300;
		color: rgba(255,255,255,0.9);
		.creative {
			color: rgba(15,235,158,0.9);
		}
	}
	.header-small-text {
		opacity: 0.9;
		color: $white;
		font-family: "Open Sans";
		font-size: 1.8rem;
		font-weight: 300;
		position: relative;
		display: inline-block;
		padding-top: 2rem;
		&:before {
			content: '';
			position: absolute;
			width: 5rem;
			height: 0.3rem;
			background-color: $brandi-green;
			top: 3rem;
			left: -10rem;
		}
		&:after {
			content: '';
			position: absolute;
			width: 5rem;
			height: 0.3rem;
			background-color: $brandi-green;
			top: 3rem;
			right: -10rem;
		}
	}
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 13rem;
		a {
			padding: 0.5rem;
		}
	}
}
.container-fluid {
  margin: 0 10rem;
}
.features {
	width: 100%;
	height: 50rem;
	background-color: #f4f7f9;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	.features-header-text {
		margin: 0;
		padding-top: 7.7rem;
		color: $header-color;
		font-family: "Open Sans";
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;
	}
	.heart {
		width: 1.8rem;
		height: 1.4rem;
		position: relative;
		display: inline-block;
		margin-top: 2.5rem;
		&:before {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: -13rem;
		}
		&:after {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: 6rem;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.paragraphs {
		display: flex;
		justify-content: center;
		padding-top: 10rem;
		h3 {
			color: $dark-blue;
			font-family: "Open Sans";
			font-size: 2rem;
			font-weight: 600;
			text-align: left;
		}
		p {
			opacity: 0.7;
			color: $dark-blue;
			font-family: "Open Sans";
			font-size: 1.3rem;
			font-weight: 400;
			line-height: 2.1rem;
			display: inline-block;
			text-align: left;
		}
		.branding {
			padding-left: 5rem;
			&:before {
				content: '';
				position: absolute;
				width: 4rem;
				height: 4rem;
				background-image: url("../img/branding.png");
				background-size: cover;
				top: 1rem;
				left: 0;
			}
		}
		.development {
			padding-left: 5rem;
			&:before {
				content: '';
				position: absolute;
				width: 4rem;
				height: 4rem;
				background-image: url("../img/pencil.png");
				background-size: cover;
				top: 1rem;
				left: 0;
			}
		}
		.consulting {
			padding-left: 5rem;
			&:before {
				content: '';
				position: absolute;
				width: 4rem;
				height: 4rem;
				background-image: url("../img/megaphone.png");
				background-size: cover;
				top: 1rem;
				left: 0;
			}
		}
	}
}
.works {
	width: 100%;
	// height: 85rem;
	background-color: $white;
	padding: 0;
	margin: 0;
	text-align: center;
	// position: relative;
	.works-header-text {
		margin: 0;
		padding-top: 7.7rem;
		color: $header-color;
		font-family: "Open Sans";
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;
	}
	.heart {
		width: 1.8rem;
		height: 1.4rem;
		position: relative;
		display: inline-block;
		margin-top: 2.5rem;
		&:before {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: -13rem;
		}
		&:after {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: 6rem;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.works-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			padding-top: 3rem;
			opacity: 0.8;
			color: $dark-blue;
			font-family: "Open Sans";
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 2.4rem;
		}
		.nav-works-galery {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		list-style-type: none;
		padding-top: 6rem;
		padding-bottom: 4rem;
		}
		li {
			display: inline-block;
			height: 100%;
			display: flex;
			align-items: center;
			color: #000;
			font-family: "Open Sans";
			font-size: 1.4rem;
			font-weight: 700;
			padding: 1rem 2rem;
			&:hover{
				text-decoration: none;
				color: $white;
				border-radius: 5px 6px 6px 5px;
				background-color: $header-color;
				}
		}
		a {
				text-decoration: none;
		}
	}
	.galery{
		height: 100%;
    position: relative;
		img {
			padding: 0;
			margin: 0;
		}
	}
}
.meet-our-team {
	width: 100%;
	background-color: $white;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	.meet-our-team-header-text {
		margin: 0;
		padding-top: 7.7rem;
		color: $header-color;
		font-family: "Open Sans";
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;
    text-align: center;
	}
	.heart {
		width: 1.8rem;
		height: 1.4rem;
		position: relative;
		display: inline-block;
		margin-top: 2.5rem;
		&:before {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: -13rem;
		}
		&:after {
			content: '';
			position: absolute;
			width: 9rem;
			height: 0.1rem;
			background-color: $dark-blue;
			opacity: 0.1;
			top: 0.5rem;
			left: 6rem;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.our-team-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			padding-top: 3rem;
			opacity: 0.8;
			color: $dark-blue;
			font-family: "Open Sans";
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 2.4rem;
		}
		.our-team {
			padding-top: 11rem;
			img {
				width: 27rem;
				height: 30rem;
			}
		}
		.our-team-employee {
			p{
				font-family: "Open Sans";
        color: $dark-blue;
				font-size: 1.8rem;
				font-weight: 600;
				line-height: 2.4rem;
        padding: 2rem 0;

			}
			span {
				opacity: 0.56;
				font-size: 1.3rem;
				font-weight: 400;
			}
		}
	}
}
