body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  background-color: rgba(16, 22, 55, 0.2);
  z-index: 12345567;
  position: absolute; }
  nav .logo-container {
    display: flex;
    align-items: flex-end;
    margin-left: 10%; }
  nav .logo {
    width: 9rem;
    height: 2.7rem; }
  nav .header-tag {
    margin: 0;
    padding-left: 1rem;
    margin-left: 1rem;
    opacity: 0.3;
    width: 13.2rem;
    height: 1.7rem;
    font-weight: 300;
    color: #fff;
    font-size: 1.3rem;
    border-left: 2px solid #32b0ee;
    display: inline-block; }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    float: right;
    opacity: 1;
    margin-right: 10%;
    padding-top: 1rem;
    height: 100%; }
    nav ul li {
      font-size: 1.3rem;
      display: inline-block;
      margin-right: 0.7rem;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative; }
      nav ul li:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #32b0ee;
        opacity: 0;
        top: 0;
        transition: all 1s; }
      nav ul li:hover {
        text-decoration: none;
        color: #fff; }
        nav ul li:hover:after {
          opacity: 1; }
    nav ul a {
      color: #fff;
      text-decoration: none; }
      nav ul a:hover {
        color: #fff;
        text-decoration: none; }

.bgg-header {
  background-image: url("../img/bgg-header.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }
  .bgg-header .meet-brandi {
    padding-top: 25rem;
    font-size: 6.2rem;
    font-weight: 300;
    color: #fff;
    margin: 0; }
    .bgg-header .meet-brandi .brandi {
      font-weight: 700; }
  .bgg-header .one-page {
    padding: 0;
    margin: 0;
    font-size: 4.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9); }
    .bgg-header .one-page .creative {
      color: rgba(15, 235, 158, 0.9); }
  .bgg-header .header-small-text {
    opacity: 0.9;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-top: 2rem; }
    .bgg-header .header-small-text:before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 0.3rem;
      background-color: #0feb9e;
      top: 3rem;
      left: -10rem; }
    .bgg-header .header-small-text:after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 0.3rem;
      background-color: #0feb9e;
      top: 3rem;
      right: -10rem; }
  .bgg-header .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13rem; }
    .bgg-header .social a {
      padding: 0.5rem; }

.container-fluid {
  margin: 0 10rem; }

.features {
  width: 100%;
  height: 50rem;
  background-color: #f4f7f9;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative; }
  .features .features-header-text {
    margin: 0;
    padding-top: 7.7rem;
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .features .heart {
    width: 1.8rem;
    height: 1.4rem;
    position: relative;
    display: inline-block;
    margin-top: 2.5rem; }
    .features .heart:before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: -13rem; }
    .features .heart:after {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: 6rem; }
    .features .heart img {
      width: 100%;
      height: 100%; }
  .features .paragraphs {
    display: flex;
    justify-content: center;
    padding-top: 10rem; }
    .features .paragraphs h3 {
      color: #062033;
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: 600;
      text-align: left; }
    .features .paragraphs p {
      opacity: 0.7;
      color: #062033;
      font-family: "Open Sans";
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 2.1rem;
      display: inline-block;
      text-align: left; }
    .features .paragraphs .branding {
      padding-left: 5rem; }
      .features .paragraphs .branding:before {
        content: '';
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-image: url("../img/branding.png");
        background-size: cover;
        top: 1rem;
        left: 0; }
    .features .paragraphs .development {
      padding-left: 5rem; }
      .features .paragraphs .development:before {
        content: '';
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-image: url("../img/pencil.png");
        background-size: cover;
        top: 1rem;
        left: 0; }
    .features .paragraphs .consulting {
      padding-left: 5rem; }
      .features .paragraphs .consulting:before {
        content: '';
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-image: url("../img/megaphone.png");
        background-size: cover;
        top: 1rem;
        left: 0; }

.works {
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center; }
  .works .works-header-text {
    margin: 0;
    padding-top: 7.7rem;
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .works .heart {
    width: 1.8rem;
    height: 1.4rem;
    position: relative;
    display: inline-block;
    margin-top: 2.5rem; }
    .works .heart:before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: -13rem; }
    .works .heart:after {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: 6rem; }
    .works .heart img {
      width: 100%;
      height: 100%; }
  .works .works-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .works .works-content p {
      padding-top: 3rem;
      opacity: 0.8;
      color: #062033;
      font-family: "Open Sans";
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem; }
    .works .works-content .nav-works-galery {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      list-style-type: none;
      padding-top: 6rem;
      padding-bottom: 4rem; }
    .works .works-content li {
      display: inline-block;
      height: 100%;
      display: flex;
      align-items: center;
      color: #000;
      font-family: "Open Sans";
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1rem 2rem; }
      .works .works-content li:hover {
        text-decoration: none;
        color: #fff;
        border-radius: 0.5rem 6px 6px 0.5rem;
        background-color: #0eb493; }
    .works .works-content a {
      text-decoration: none; }
  .works .galery {
    height: 100%;
    position: relative; }
    .works .galery img {
      padding: 0;
      margin: 0; }

.meet-our-team {
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative; }
  .meet-our-team .meet-our-team-header-text {
    margin: 0;
    padding-top: 7.7rem;
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .meet-our-team .heart {
    width: 1.8rem;
    height: 1.4rem;
    position: relative;
    display: inline-block;
    margin-top: 2.5rem; }
    .meet-our-team .heart:before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: -13rem; }
    .meet-our-team .heart:after {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: 6rem; }
    .meet-our-team .heart img {
      width: 100%;
      height: 100%; }
  .meet-our-team .our-team-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .meet-our-team .our-team-content p {
      padding-top: 3rem;
      opacity: 0.8;
      color: #062033;
      font-family: "Open Sans";
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem; }
    .meet-our-team .our-team-content .our-team {
      padding-top: 11rem; }
      .meet-our-team .our-team-content .our-team img {
        width: 27rem;
        height: 30rem;
        filter: grayscale(100%); }
        .meet-our-team .our-team-content .our-team-employee:hover img {
          filter: grayscale(1%); }
    .meet-our-team .our-team-content .our-team-employee p {
      font-family: "Open Sans";
      color: #062033;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;
      padding: 2rem 0; }
      .meet-our-team .our-team-content .our-team-employee:hover p {
        color: #0eb493; }
    .meet-our-team .our-team-content .our-team-employee span {
      opacity: 0.56;
      font-size: 1.3rem;
      font-weight: 400; }

/*# sourceMappingURL=style.css.map */

/*Pawel's part styles*/

.some-fun-fucts {
  width: 100%;
  height: 23rem;
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

  .some-fun-fucts .some-fun-fucts-header-text {
    margin: 0;
    padding-top: 7.7rem;
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;

}
  .some-fun-fucts .heart {
    width: 1.8rem;
    height: 1.4rem;
    position: relative;
    display: inline-block;
    margin-top: 2.5rem;

}
    .some-fun-fucts .heart:before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: -13rem;
  }

    .some-fun-fucts .heart:after {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: 6rem;
}


.some-fun-fucts .heart .img-one {
  width: 100%;
  height: 100%;
}

.lets-discuss {
  width: 100%;
  height: 23rem;
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

  .lets-discuss .lets-discuss-header-text {
    margin: 0;
    padding-top: 7.7rem;
    color: #0eb493;
    font-family: "Open Sans";
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;

}
  .lets-discuss .heart {
    width: 1.8rem;
    height: 1.4rem;
    position: relative;
    display: inline-block;
    margin-top: 2.5rem;

}
    .lets-discuss .heart:before {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: -13rem;
  }

    .lets-discuss .heart:after {
      content: '';
      position: absolute;
      width: 9rem;
      height: 0.1rem;
      background-color: #062033;
      opacity: 0.1;
      top: 0.5rem;
      left: 6rem;
}

.lets-discuss .heart .img-one {
  width: 100%;
  height: 100%;
}

.row .background {
  background-image: url("../img/FunFacts.png");
  height: 60rem;
}


.circle {
  width: 13rem;
  height: 13rem;
  border: 2px solid #ffffff;
  border-radius: 100%;
  position: relative;
  top: 2rem;
  left: 6rem;
 }


.p-one {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  top: 3rem;
  left: 5.5rem;
}

.p-two {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  top: 6rem;
  left: 4rem;
}

.p-one1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  top: 3rem;
  left: 7.5rem;
}

.p-two1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  top: 6rem;
  left: 6rem;
}

.p-one2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  top: 3rem;
  left: 8.5rem;
}

.p-two2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  top: 6rem;
  left: 7rem;
}

.lets-discuss .volupatem {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #062033;
  text-align: center;
  position: relative;
  top: 3rem;
}

.h3-cras {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #062033;
 }

.p-cras {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #062033;
 }

.a-cras {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #062033;
 }

.h3-say_hello {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: #062033;
  font-style: bold;
}

.send-message {
  position: relative;
  top: 22.5rem;
  left: 62rem;
}

.some-fun-fucts-icon {
  color: #ffffff;
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  top: 4.4rem;
  left: 4.4rem;
 }

.input1 {
  width: 36rem;
  height: 6rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  position: relative;
  top: 3.5rem;
 }

 .input2 {
  width: 36rem;
  height: 6rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  position: relative;
  left: 1.5rem;
  top: 3.5rem;
 }

 .input3 {
  width: 74rem;
  height: 6rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  position: relative;
  top: 5rem;
 }

.cras {
  height: 35rem;
}

.say_hello {
  height: 35rem;
}

.media {
  height: 33rem;
}

.map .mapa {
  height: 21.5rem;
  width: 100%;
}

.nav-media {
  position: relative;
  top: 3rem;
  left: 2rem;
}

.dd-media a {
    color: #C0C0C0;
}

.footer {
  height: 40rem;
  border-top: solid 2px #000000;
  margin: 0;
  width: 100%;
   height: 40rem;
  background-color: #1ea78d;
}

.footer img {
  position: relative;
  top: 8rem;
  left: 1.5rem;
}

.footer .p-brandi {
  position: relative;
  top: 15rem;
  left: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #ffffff;

}

.h3-subscribe {
  position: relative;
  top: 8rem;
  left: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-style: bold;
  line-height: 2.4rem;
  text-align: left;
}

.form-control {
  position: relative;
  top: 13rem;
  left: 1.5rem;
  width: 26.8rem;
  height: 4.6rem;
}

.p-subsrcibe {
  position: relative;
  top: 15rem;
  left: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-style: bold;
  line-height: 2.4rem;
  text-align: left;
}

.h3-explore {
  position: relative;
  top: 10rem;
  left: 1.7rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-style: bold;
  line-height: 2.4rem;
  text-align: left;
}

.brandi {
  height: 39.8rem;
}

.subscribe {
  height: 39.8rem;
}

.explore {
  height: 39.8rem;
}

.created-with {
  height: 39.8rem;
}

.explore1 dl dd {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 3.2rem;
  position: relative;
  top: 11.2rem;
  left: 0.5rem;
}

.explore2 dl dd {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 3.2rem;
  position: relative;
  top: 11.2rem;
  left: 3rem;
}

.explore2 dl dd a {
  color: #ffffff;
}

.p-cerated-with1 {
  position: relative;
  top: 180.5rem;
  left: 1rem;
  color: #ffffff;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 2.4rem;

}

.p-created-with2 {
  position: relative;
  top: 22.5rem;
  left: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #000000;
}
